/*
theme Name: Theme1
*/
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: red;
    background-image: url('https://img.freepik.com/free-vector/forest-scene-with-various-forest-trees_1308-58384.jpg?w=2000');
}

header{
    display: flex;
    justify-content: center;
    height: 100px;
    width: 400px;
    background-color: green;
}



